:root {
    --bg-color : white;
    --text-color : black;
    --title-color : #5592FF;
}

body {
    background-color: var(--bg-color);
    margin: 1% 3% 1% 3% ;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

h1 {
    font-family: 'Chango', cursive;
    color: var(--title-color);
}

h2 {
    font-family: 'Chango', cursive;
}

main {
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_blockleft {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header nav {
    width: 100%;
}

.header_blockleft h1 {
    padding-left: 1% ;
}

header img {
    height: 80px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
}

header li {
    color: black;
    padding: 1%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.group_buttons_index {
    display: flex;
}

.button, form button {
    display: flex;
    background-color: black;
    color: white;
    margin: 5px;
    height: 5vh;
    width: 200px;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 3px grey;
}

.button a, form button {
    text-decoration: none;
    color: white;
}

.hometitle {
    text-align: end;
}

.tableau_home td {
    width: 10vw;
    min-width: 100px;
    text-align: center;
    font-size: 18px;
    background-color: rgba(130,130,130,0.5);
}

.tableau_home th {
    background-color: #2e3136;
    font-size: 20px;
    color: white;
    height: 40px;
}

.form_groupe, form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form_groupe input, #user_campus, form input {
    border-radius: 10px;
    width: 15%;
    font-size: 16px;
    color: var(--title-color);
}

.form_groupe label, form label {
    margin-right: 15px;
}

