:root {
    --bg-color : white;
    --text-color : black;
    --title-color : black;
    --bg-nav-color : rgba(220, 178, 82, 0.8);
    --bg-tab-corps : rgba(220, 178, 82, 0.5);
    --bg-tab-title : rgba(220, 178, 82, 0.8);
    --tab-title-color : black;


    --archive-title: #5592FF;
    --archive-tabtitle : #2e3136;
    --archive-tabcorps : rgba(130,130,130,0.5);
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

h1 {
    font-family: 'Chango', cursive;
    color: var(--title-color);
}

h2 {
    font-family: 'Chango', cursive;
}

main {
    flex-grow: 1;
    margin: 1% 3% 1% 3% ;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-nav-color) ;
}

.header_blockleft {
    display: flex;
    flex-direction: row;
    margin-right: 15%;

}

header nav {
    width: 50%;
}

.header_blockleft h1 {
    padding-left: 1% ;
}

header img {
    height: 80px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
}

header li {
    color: black;
    padding: 1%;
}

header .login_logout_msg {
    width: 100%;
}


footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top : 5%;
    background-color: var(--bg-nav-color);
}

.group_buttons_index {
    display: flex;
}

.button, form button {
    display: flex;
    background-color: black;
    color: white;
    margin: 5px;
    height: 5vh;
    width: 200px;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 3px grey;
}

.button a, form button {
    text-decoration: none;
    color: white;
}

.hometitle {
    text-align: end;
    margin: 2% 1% 5% 0;
}

.tableau_home td {
    width: 10vw;
    min-width: 100px;
    text-align: center;
    font-size: 18px;
    background-color: var(--bg-tab-corps);
}

.tableau_home th {
    background-color: var(--bg-tab-title);
    font-size: 20px;
    color: var(--tab-title-color);
    height: 40px;
}

.form_groupe, form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;

}

.form_groupe input, #user_campus, form input, #campus {
    border-radius: 10px;
    width: 30%;
    font-size: 16px;
    color: var(--title-color);
}

.form_groupe label, form label {
    margin-right: 15px;
}

.form_checkbox {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.notCheckbox_group {
    width: 50%;
}

.checkbox_group {
    width: 50%;
}

.filter_title {
    margin-bottom: 2%;
}

.rememberme_checkbox {

}
